<html>
<head>
    <title>Sensors Dashboard</title>
    <link href="<%= static_directory %>index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page">
    <h1 class="main-title title">
        <span class="text">Sensors Dashboard<span class="shadow">Sensors Dashboard</span></span>
    </h1>
    <div id='root'></div>
    <div class="background"></div>
</div>
<script src="<%= static_directory %>index.js"></script>
</body>
</html>
