//colours

$dark-grey: #2c2d2d;
$light-grey: #a8a8a8;
$sharp-grey: #5a5a5a;
$white: #fff;

//fonts

$georgia: Georgia, serif;
$helvetica: Helvetica, Arial, sans-serif;

$sensor-item-width: (
        mobile: 100%,
        tablet: 170px,
        desktop: 300px,
);

