.main-title {
  font-size: 32px;
  margin: 32px auto 0 auto;

  .text{
    position: relative;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
  }

  .shadow {
    z-index: -10;
    position: absolute;
    left: 6px;
    top: 2px;
    background: transparent url('/static/text-pattern.png') repeat left top;
    color: transparent;
    @include background-clip(text);

  }

}

@include respond-to(tablet) {
  .main-title {
    font-size: 44px;
    margin-top: 56px;

    .shadow {
      top: 4px;
      left: 8px;
    }
  }
}

@include respond-to(desktop) {
  .main-title {
    font-size: 56px;
    margin-top: 48px;
  }

}


