.page {
  font-family: $helvetica;
  color: $dark-grey;
  overflow: hidden;

  .title {
    text-transform: uppercase;
  }

  .background {
    background: #fff url('/static/background.png') repeat top left;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
  }

}

