.page {
  font-family: Helvetica, Arial, sans-serif;
  color: $white;
  overflow: hidden;

  .main-title {
    font-size: 32px;
    margin-top: 16px;
  }

  .background {
    background: #fff url('/static/background.png') repeat top left;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
  }

}

@include respond-to(tablet) {
  .page {
    .main-title {
      font-size: 40px;
      margin-top: 32px;
    }
  }
}

@include respond-to(desktop) {
  .page {
    .main-title {
      font-size: 56px;
      margin-top: 48px;
    }
  };
}