.sensor-item {
  margin-top: 8px;
  width: map-get($sensor-item-width, mobile);
  position: relative;

  .content {
    background-color: $white;
    margin: 0 8px 8px 8px;
    padding: 24px 0 54px 0;
    @include box-shadow(4px, $light-grey);
    @include transition(all, 0.4s, ease);
  }

  .descriptor {
    text-transform: uppercase;
    font-size: 16px;
    color: $sharp-grey;
    margin: 0 16px;
  }

  $title-offset: 12px;

  .title {
    left: -$title-offset;
    position: relative;
    background-color: $blue;
    margin-top: 8px;
    padding: 8px 40px;
    color: $white;
    text-align: left;
    display: inline-block;
    font-size: 16px;
  }

  .sling {
    position: absolute;
    top: 32px;
    left: 0;
    width: 0;
    height: 0;
    border-left: $title-offset solid transparent;
    border-top: $title-offset  solid $dark-blue;
  }

  .sensor-link {
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 8px;
    left: 8px;
    border: 2px solid transparent;
    @include transition(all, 0.4s, ease);

  }

  .link-text {
    color: $blue;
    width: 100%;
    font-size: 12px;
    position: absolute;
    right: 8px;
    bottom: 8px;
    left: 8px;
    text-transform: uppercase;
  }

  &.hover {
    .content {
      @include box-shadow(8px, $light-grey);
    }
    .sensor-link {
      border-color: $blue;
    }
  }

}

@include respond-to(tablet) {
  .sensor-item {
    margin-top: 16px;
    width: map-get($sensor-item-width, tablet);
  }
}

@include respond-to(desktop) {
  .sensor-item {
    width: map-get($sensor-item-width, desktop);
  }
}